# **CLASSIFICATION**

In [4]:
import numpy as np
import pandas as pd

#For more information about the dataset visit: https://archive.ics.uci.edu/dataset/451/breast+cancer+coimbra
cancer_dataset = pd.read_csv('dataR2.csv')

In [5]:
cancer_dataset.head()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1

In [6]:
cancer_dataset.tail()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
111,45,26.85,92,3.33,0.755688,54.68,12.10,10.96,268.23,2
112,62,26.84,100,4.53,1.117400,12.45,21.42,7.32,330.16,2
113,65,32.05,97,5.73,1.370998,61.48,22.54,10.33,314.05,2
114,72,25.59,82,2.82,0.570392,24.96,33.75,3.27,392.46,2
115,86,27.18,138,19.91,6.777364,90.28,14.11,4.35,90.09,2

Linear Regression

In [110]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

x=cancer_dataset.loc[:,['Age','BMI','Glucose','HOMA','Leptin','Adiponectin','Resistin','MCP.1']]
y=cancer_dataset.loc[:,'Classification']

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1)

lr=LogisticRegression(max_iter=1000)
lr.fit(x_train,y_train)

print(lr.score(x_test,y_test))

0.8333333333333334

SVM(Support Vector Machines)

In [89]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

x=cancer_dataset.loc[:,['Age','BMI','Glucose','HOMA','Leptin','Adiponectin','Resistin','MCP.1']]
y=cancer_dataset.loc[:,'Classification']

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1)

clf=SVC(kernel='linear',C=10)
clf.fit(x_train,y_train)

print(clf.score(x_test,y_test))

0.9166666666666666



---

# **LINEAR REGRESSION**

In [28]:
#For more information for the dataser refer: https://archive.ics.uci.edu/dataset/477/real+estate+valuation+data+set
real_estate_dataset = pd.read_excel('Real estate valuation data set.xlsx')

In [30]:
real_estate_dataset.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.916667,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.916667,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583333,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500000,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833333,5.0,390.56840,5,24.97937,121.54245,43.1

In [31]:
real_estate_dataset.tail()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
409,410,2013.000000,13.7,4082.01500,0,24.94155,121.50381,15.4
410,411,2012.666667,5.6,90.45606,9,24.97433,121.54310,50.0
411,412,2013.250000,18.8,390.96960,7,24.97923,121.53986,40.6
412,413,2013.000000,8.1,104.81010,5,24.96674,121.54067,52.5
413,414,2013.500000,6.5,90.45606,9,24.97433,121.54310,63.9

In [69]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

y=real_estate_dataset.loc[:,'Y house price of unit area']
x=real_estate_dataset.loc[:,['X1 transaction date','X2 house age','X3 distance to the nearest MRT station','X4 number of convenience stores','X5 latitude','X6 longitude']]

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1)
lr=LinearRegression()
lr.fit(x_train,y_train)

print(lr.score(x_test,y_test))

0.8101109777929275